<html>
    <head>
    	<!-- MetaData -->
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Smart Mirror</title>
      <meta name="description" content="Smart Mirror 2016">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- CSS -->
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/infobar.css">
      <link rel="stylesheet" href="/css/bus.css">
      <link rel="stylesheet" href="/css/news.css">
      <link rel="stylesheet" href="/css/agenda.css">

      <!-- Fonts -->
      <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

      <!-- Script Initialization -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
	    <script src="/js/vendor/jquery.simpleWeather.min.js"></script>
      <script src="/js/vendor/xml2json.js"></script>
      <script src="/js/vendor/moment.js"></script>
      <script src="/js/skycons.js"></script>
      <script src="/js/date.js"></script>
    </head>
    <body>
    	<!-- Top bar for information -->
    	<div id="info">
    		<div id="date"></div>
        	<div id="weather">Loading...</div>
      </div>
      <!-- Center screen for functionalities -->
      <div id="main">
        	<div class="sidebar" id="leftSidebar"></div>
        	<div id="display"></div>
        	<div class="sidebar" id="rightSidebar"></div>
      </div>
      <!-- motd -->
      <div class="hide-motd" id="motd"></div>
      <div id="busdiv"></div>
      <div id="caldiv"><iframe id="calendar1" src="/calendar.html" width="100%" height="80%"></iframe></div>
      <div id="agddiv"></div>

		  <!-- Scripts -->
      <script src="/js/globals.js"></script>
		  <script src="/js/clock.js"></script>
      <script src="/js/weather.js"></script>
      <script src="/js/motd.js"></script>

      <script src="/pages/page.js"></script>
      <script src="/pages/sidebar.js"></script>
      <script src="/pages/bus.js"></script>
      <script src="/pages/news.js"></script>
      <script src="/pages/directions.js"></script>
      <script src="/pages/calendar.js"></script>
      <script src="/pages/agenda.js"></script>
      <script src="/pages/game.js"></script>
      <script src="/pages/main.js">loadMain();</script>
      <script src="/js/toggle.js"></script>
    </body>
</html>
