#agdHeader {
  font-size: 3vw;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-bottom:100px;
}

th.time {
  width:30%;
  font-size:2vw;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

table {
  width:1299px;
}
div.times {
  width:100%;
  font-size:2vw;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

th.event {
  width: 50%;
  font-size: 2vw;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

th.events {
  width: 60%;
  font-size: 2vw;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  padding-left:10vw;
}

th.locations {
  width: 40%;
  font-size: 2vw;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  padding-right:20vw;
}

#agTable {
  width:100%;
}
