#busdiv {
  display: block;
  vertical-align: top;
  align-self: auto;

  width: 100%;
  height: 100%;
}

img.buspaper {
  height: 100%;
  position: absolute;
  left: 35px;
  margin-top: 0px;
  resize:vertical;
  max-height: 2560px;
  max-width: 1430px;
  z-index: -1;
}

.bus {
  font-size: 60px;
  text-align: center;
  font-family: 'Arial';
  position: relative;
  margin-top: 15%;
  width: 100%;
  height: 100%;
  display: flex;
  vertical-align: top;
}

#bus2container {
  width: 33%;
  height: 69.5%;
  margin-top: 31.5%;
  margin-left: 2%;
  text-align: center;
  position:absolute;
}
#bus24container {
  width: 30%;
  height: 10%;
  margin-top: 31.5%;
  text-align: center;
  position: absolute;
  margin-left:34%;
}
#bus5container {
  width: 30%;
  height: 10%;
  margin-top: 31.5%;
  text-align: center;
  position: absolute;
  margin-left: 66.6%;
}

.locationContainer {
  position: absolute;
  top: 1125px;
  font-size: 50px;
}
#simeiContainer {
  left: 260px;
}
#tanahContainer {
  left: 735px;
}
#simpangContainer {
  left: 78%;
}
.location2Container {
  position: absolute;
  top: 76.4%;
  font-size: 50px;
}
#pasirContainer {
  left: 53%;
}
#jurongContainer {
  left: 21%;
}
#airportContainer {
  left: 80%;
}
