div#bus div {
	width: 100%;

	text-align: center;
}

div#bus div.container {
	display: flex;
	justify-content: space-around;
}

div#bus div.container div {
	margin: 1.75vw;
	border-style: solid;
	border-width: 0.1vw;
	border-radius: 1vw;
}

div#bus img {
	margin: 0 auto 0 auto;
	padding: 20 0 20 0;
}

div#bus h1 {
	font-size: 4vw;
	text-align: center;
}

div#bus h2 {
	font-size: 3vw;
}

div#bus p {
	padding: 10px;
	font-size: 2vw;
}