html {
  margin-top:3%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
    color: #ffffff;
    font-size: 30;
}

#calendar {
    width: 100%;
    margin:0;
}

#calendar a {
    color: #8e352e;
    text-decoration: none;
}

#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#monthAndYear {
  background: #696969;
  margin:0;
  height:8vw;
  font-size: 6vw;
  font-family: inherit;
  padding-top:1.1vw;
}
#calendar-wrap {
  border: 1px solid #000000;
}
#calendar li {
    display: block;
    float: left;
    width:14.3%;
    box-sizing:border-box;
    margin-right: -1px;
    margin-bottom: -1px;
}

#calendar ul.weekdays {
    height: 4%;
    background: #000000;
    align-content: center;
}

#calendar ul.weekdays li {
    text-align: center;
    height:5vw;
    padding-top:0.8vw;
    background:#00000;
    color: #fff;
    font-size: 3vw;
}

#calendar .days li {
    height: 14%;
    background: transparent;
    overflow:hidden;
}

#calendar .days li:hover {
    background: #d3d3d3;
}

#calendar .date {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 100%;
    float: right;
    border: 1px solid #000000;
}

#calendar .dateNumber {
  font-size:2vw;
  height:3vw;
  background:#696969;
  vertical-align: middle;
  text-align: center;
  border: 5px solid #000000;

}
#calendar .dateWord {
  margin-left:8px;
  margin-right:8px;
  text-align: center;
  height:100%;
  padding-top:.4vw;
  vertical-align:middle;
}
span
{
  display: inline-block;
  vertical-align: middle;
}
#calendar .timeSlot {
  background: #404040;
  width: 100%;
}

#calendar .titleSlot {
  background: #060606;
  width: 100%;
}

#calendar .word {
  margin-left:8px;
  margin-right:8px;
  text-align: center;
}

#calendar .event {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #e4f2f2;
    border: 0px solid #b5dbdc;
    color: #009aaf;
    text-decoration: none;
}

#calendar .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;
}

#calendar .other-month {
    background: #f5f5f5;
    color: #666;
}

/* ============================
                Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {

    #calendar .weekdays, #calendar .other-month {
        display: none;
    }

    #calendar li {
        border: 1px solid #ededed;
        width: 100%;
        padding: 10px;
        margin-bottom: -1px;
    }

    #calendar .date {
        float: none;
        border: 1px solid #263248;
    }
}
