a {
	color: inherit;
	text-decoration: inherit;
}

img.newsPic {
	margin: 0;
}

div#newsDisplay {
	margin-top: 200px;
}

p#newsTitle {
	font-size: 16px;
	text-decoration: underline;

	margin-bottom: 0;
}

p#newsDescription {
	margin-top: 0;
}
